.service{
    display: flex;
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 15rem;
    
    height: 50rem;
}

/* #servicebox{
    margin-top: 15rem;
} */

.i-serviceleft{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.i-serviceleft>:nth-child(1){
    color: var(--black);
    font-size: 4rem;
    font-weight: bold;
}

.i-serviceleft>:nth-child(2){
    color: var(--orange);
    font-size: 3.5rem;
    font-weight: bold;
}
.i-serviceleft>:nth-child(3){
    color: grey;
}

.button-service{
    width: 19vh;
}

.i-serviceright{
    position: relative;
}