.Form-section{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1700px;
    margin: 0 auto;
    gap:20rem;
    height: 60vh;
    
   
}

.Form-right{
    margin-top: -20rem;

}

.Form-left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}

.Form-right :nth-child(1){
    border-color: var(--orange);
    width: 25rem;
    height: 2.5rem;
    border-width: 3px;
    
    border-radius: 15px;
    outline: none;
}


input[type='email']{

    border-color: var(--orange);
    width: 25rem;
    height: 2.5rem;
    outline: none;
    
    border-radius: 10px;
    border-width: 3px;
    
}

textarea{

    border-color: var(--orange);
    width: 25rem;
    height: 5rem;
    border-width: 3px;
    outline: none;
    
    border-radius: 10px;

}


.Form-right button{
    text-align: center;
}

.Form-left :nth-child(1){
    
    font-size: 3.5rem;
    color: var(--black);
    font-weight: bold;
}

.Form-left :nth-child(2){
    font-size: 3.5rem;
    color: var(--orange);
    font-weight: bold;
}

.btnSubmit{
    
    
    text-align: center;
    margin-bottom: 2rem;
    
    display: block;

   
}

.SubMsg{
    font-size: 1.5rem;
    color: var(--orange);
    text-align: center;
    


}