.container-main{
    display: flex;
    max-width: 1700px;
    margin: 0 auto;
   
    
    
    
    
}
.i-leftside{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    margin-top: 7rem;


}
.button-one{
   width: 8rem;
   text-align: center;
   height: 2.5rem;
}

.i-leftside img{
    margin-top: 8rem;
    margin-left: 1rem;
    transform: scale(0.6);
}

.hy{
    font-size:4rem ;
}
.name{
    font-size: 4rem;
    color: var(--orange);
}
.i-rightside{
    
    margin-top: 100px;
    position: relative;
}